<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <style>
        *{
            box-sizing: border-box;
        }
        
        #myInput {
            width: 40%;
            font-size: 16px;
            padding: 12px 20px 12px 20px;
            border: 2px solid #000000;
            margin-bottom: 12px;
        }
        
        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }
        
        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
            border: 1px solid #ddd;
        }
        
        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #doctor-list {
            padding: 0 10px
        }

        .btn-edit {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(244, 159, 0);
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn-edit:hover {
            background-color: orange;
        }

        .btn-delete {
            display: inline-block;
            padding: 10px 20px;
            background-color: #f44336;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn-delete:hover {
            background-color: red;
        }

        .btn-add-doctor {
            display: inline-block;
            padding: 10px 10px;
            background-color: rgb(67, 184, 0);
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn-add-doctor:hover {
            background-color: rgb(83, 226, 0);
        }
    </style>
</head>
<body>
    <div id="doctor-list">
        <h2>Danh sách bác sĩ</h2>
    
        <input type="text" id="myInput" onkeyup="filterDoctor()" placeholder="Tìm ID hoặc Tên bác sĩ..." title="Type in a name">
        <a href="/new-doctor-form" class="btn-add-doctor" type="button" >New</a>
        <table id="myTable">
            <tr class="header">
                <th>ID</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Ngày vào làm</th>
                <th>Số điện thoại</th>
                <th>Chuyên khoa</th>
                <th>Chuyên môn</th>
                <th></th>
            </tr>
            <% for (let i=0; i < dataTable.length; i++) { %>
                <tr>
                    <td><%= dataTable[i].DoctorID %></td>
                    <td><%= dataTable[i].DoctorName %></td>
                    <td><%= dataTable[i].DoctorEmail %></td>
                    <td><%= dataTable[i].Gender %></td>
                    <td><%= dataTable[i].DoctorBirthdate %></td>
                    <td><%= dataTable[i].DateJoined %></td>
                    <td><%= dataTable[i].DoctorPhone %></td>
                    <%  var department = dataTable[i].Department;
                        var meaning = "";
                        switch (department) {
                            case "CNK":
                                meaning = "Chống nhiễm khuẩn";
                                break;
                            case "CXK":
                                meaning = "Cơ – xương – khớp";
                                break;
                            case "D":
                                meaning = "Dược";
                                break;
                            case "DD":
                                meaning = "Dinh dưỡng";
                                break;
                            case "DL":
                                meaning = "Da Liễu";
                                break;
                            case "DU":
                                meaning = "Dị ứng";
                                break;
                            case "HS":
                                meaning = "Hóa Sinh";
                                break;
                            case "HSCC":
                                meaning = "Hồi sức cấp cứu";
                                break;
                            case "KB":
                                meaning = "Khám bệnh";
                                break;
                            case "M":
                                meaning = "Mắt";
                                break;
                            case "N":
                                meaning = "Nhi";
                                break;
                            case "NLN":
                                meaning = "Ngoại lồng ngực";
                                break;
                            case "NS":
                                meaning = "Nội soi";
                                break;
                            case "NTH":
                                meaning = "Nội tổng hợp";
                                break;
                            case "PS":
                                meaning = "Phụ sản";
                                break;
                            case "PTGMHS":
                                meaning = "Gây mê hồi sức";
                                break;
                            case "RHM":
                                meaning = "Nha khoa";
                                break;
                            case "T":
                                meaning = "Lọc máu";
                                break;
                            case "TH":
                                meaning = "Nội tiêu hóa";
                                break;
                            case "TM":
                                meaning = "Nội tim mạch";
                                break;
                            case "NTK":
                                meaning = "Thần kinh";
                                break;
                            case "TMH":
                                meaning = "Tai – mũi – họng";
                                break;
                            case "TN":
                                meaning = "Truyền nhiễm";
                                break;
                            case "TTN":
                                meaning = "Thận – tiết niệu";
                                break;
                            case "YHCT":
                                meaning = "Y học cổ truyền";
                                break;
                            case "YHHN":
                                meaning = "Y học hạt nhân";
                                break;
                            default:
                                meaning = "Không xác định";
                                break;
                        }
                    %>
                    <td><%= meaning %></td>
                    <td><%= dataTable[i].Specialization %></td>
                    <td>
                        <a href="/edit-crud?id=<%=dataTable[i].DoctorID %>" class="btn-edit" type="button" >Edit</a>
                        <a href="/delete-crud?id=<%=dataTable[i].DoctorID %>" class="btn-delete" type="button">Delete</a>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <script>
        function filterDoctor() {
            var input, filter, table, tr, i, idValue, nameValue, id, name;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                id = tr[i].getElementsByTagName("td")[0];
                name = tr[i].getElementsByTagName("td")[1];
                if (id || name) {
                    idValue = id.textContent || id.innerText;
                    nameValue = name.textContent || name.innerText;
                    if (idValue.toUpperCase().indexOf(filter) > -1 || nameValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        }
                        else {
                            tr[i].style.display = "none";
                    }
                }       
            }
        }
    </script>
</body>
</html>